<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="Navigation.css" rel="stylesheet">
    <link href="Search.css" rel="stylesheet">
    <link href="Orders.css" rel="stylesheet">
    <link href="Order.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
    <nav>
        <button>
            <p>Предложения</p>
        </button>
        <button>
            <p>Карта</p>
        </button>
        <button>
            <p>Создать заказ</p>
        </button>
        <button>
            <p>Личный кабинет</p>
        </button>
        <button>
            <p>О нас</p>
        </button>
    </nav>
    <main>
        <section class="search">
            <h2 align="center">Я сидел - меня возили</h2>
            <div class="search_bus">
                <article>
                    <input placeholder="Номер автобуса" type="text">
                </article>

                <article>
                    <input placeholder="Макс цена" type="text">
                </article>

                <article>
                    <input placeholder="Мин цена" type="text">
                </article>

                <article>
                    <select>
                        <option>Сортировать по</option>
                        <option>Сначала дешевые</option>
                        <option>Сначала дорогие</option>
                    </select>
                </article>
                <article>
                    <button>
                        <p>Поиск</p>
                    </button>
                </article>
            </div>
        </section>

        <section class="orders">
            <article class="order">
                <header>
                    <h4>47 автобус</h4>
                    <h4>50 рублей</h4>
                    <button>
                        <p>Подробнее</p>
                    </button>
                </header>
                <div class="description">
                    <h4 align="center">Описание</h4>
                    <p>
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                    </p>
                    <map>

                    </map>
                </div>
            </article>

            <article class="order">
                <header>
                    <h4>47 автобус</h4>
                    <h4>50 рублей</h4>
                    <button>
                        <p>Подробнее</p>
                    </button>
                </header>
                <div class="description">
                    <h4 align="center">Описание</h4>
                    <p>
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                    </p>
                    <map>

                    </map>
                </div>
            </article>

            <article class="order">
                <header>
                    <h4>47 автобус</h4>
                    <h4>50 рублей</h4>
                    <button>
                        <p>Подробнее</p>
                    </button>
                </header>
                <div class="description">
                    <h4 align="center">Описание</h4>
                    <p>
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                    </p>
                    <map>

                    </map>
                </div>
            </article>

            <article class="order">
                <header>
                    <h4>47 автобус</h4>
                    <h4>50 рублей</h4>
                    <button>
                        <p>Подробнее</p>
                    </button>
                </header>
                <div class="description">
                    <h4 align="center">Описание</h4>
                    <p>
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                        Много много текста много много текста Много много текста
                    </p>
                    <map>

                    </map>
                </div>
            </article>
        </section>
    </main>
</body>
</html>