.information-create {
    display: flex;
    justify-content: space-around;
}

.information-create article p {
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.information-create input {
    border-radius: 5px;
}

.information-create select, .information-create input {
    border: 0;
    width: 120px;
    height: 20px;
}
.description p {
    margin: 30px 50px 5px 50px;
    font-family: Roboto, sans-serif;
    font-size: 15px;
}

.description textarea {
    width: 900px;
    min-height: 100px;
    margin: 5px 50px 50px 50px;
}

.footer-create-order {
    height: 50px;
    background-color: #aea3a1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 5px 5px;
}

.footer-create-order button {
    margin-left: 50px;
    border-radius: 5px;
    border: 0;
    height: 25px;
    width: 90px;
    background-color: #dad8c1;
}

.footer-create-order button p {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}