.order {
    margin-top: 15px;
    width: 1000px;
    background-color: #aea3a1;
    border-radius: 5px;
}

.order header {
    border-radius: inherit;
    background-color: #aea3a1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}

.order header .info {
    width: 300px;
}

.order .route_price {
    margin: 25px 0 5px 25px;
    display: flex;
}

.route_price h4, .time\&car_number .time h4, .time\&car_number .car_number h4 {
    margin: 0 25px 0 0;
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

.time\&car_number {
    margin: 0 5px 10px 25px;
    display: flex;
    align-items: center;
}

.time\&car_number .car_number {
    margin-left: 25px;
}

.time\&car_number .car_number p {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.time\&car_number .time {
    margin: 0;
    display: flex;
    align-items: center;
}

.time\&car_number .time img {
    margin: 0 5px 0 0;
    height: 12px;
    width: 12px;
}

.time\&car_number .time p {
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.order header .action {
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
}

.order header .action .more {
    border: 0;
    height: 25px;
    width: 95px;
    border-radius: 5px;
    background-color: #dad8c1;
}

.order header .action .bookmark {
    border: 0;
    height: 25px;
    width: 125px;
    border-radius: 5px;
    background-color: #dad8c1;
}

.order header .action .more p, .order header .action .bookmark p {
    font-family: Roboto, sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 15px;
}

.order map img {
    height: 200px;
    width: 900px;
    margin: 25px 50px 25px 50px;
}
