<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link href="Sign_up.css" rel="stylesheet">
    <link href="Navigation.css" rel="stylesheet">
</head>
<body>
<nav>
    <button>
        <p>Предложения</p>
    </button>
    <button>
        <p>Карта</p>
    </button>
    <button>
        <p>Создать заказ</p>
    </button>
    <button>
        <p>Личный кабинет</p>
    </button>
    <button>
        <p>О нас</p>
    </button>
</nav>
<main>
    <header>
        <h3>Регистрация</h3>
    </header>
    <article class="info">
        <p>Введите имя пользователя:</p>
        <input type="text">
    </article>
    <article class="info">
        <p>Введите пароль</p>
        <input type="text">
    </article>
    <article class="info">
        <p>Подтвердите пароль:</p>
        <input type="text">
    </article>
    <article class="info">
        <p>Введите город:</p>
        <input type="text">
    </article>
    <footer>
        <button>
            <p>Зарегистрироваться</p>
        </button>
    </footer>
</main>

</body>
</html>