<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/aboutUs/AboutUs.css" rel="stylesheet">
    <link href="../static/css/navigation/Navigation.css" rel="stylesheet">
</head>
<body>
<nav>
    <button>
        <p>Предложения</p>
    </button>
    <button>
        <p>Карта</p>
    </button>
    <button>
        <p>Создать заказ</p>
    </button>
    <button>
        <p>Личный кабинет</p>
    </button>
    <button>
        <p>О нас</p>
    </button>
</nav>

<main>
    <header>
        <h3>О нас</h3>
    </header>
    <section class="description">
        <h4>Я сидел - меня возили</h4>
        <p>
            Сегодня множество людей пользуются общественным транспортом. Миллионы человек ежидневно добираются из одной
            точки до другой, стоя в заполненном автобусе. Такое стояние мало кому доставляет удовольствие, а значит,
            это надо решать. Очевидным решением станет увеличение количества автобусов в городе на заполненных
            маршрутах.
            Но это очень затратное решение и на его реализацию требуется множество денег. Мы предлагаем альтернативу.
            Наш сайт позволяет любому желающему, который занял сидячее место в автобусе, выложить его на продажу. А
            другой
            человек, который едет в том же автобусе или же стоит на остановке в ожидании, сможет купить это самое
            сидячее
            место и доехать до нужной точки с комфортом.
        </p>
    </section>
</main>
</body>
</html>