<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
    <link href="/css/create%20order/CreateOrder.css" rel="stylesheet">
    <link href="/css/navigation/Navigation.css" rel="stylesheet">
    <link href="/css/create%20order/DescriptionOrder.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
    <button>
        <p>Предложения</p>
    </button>
    <button>
        <p>Карта</p>
    </button>
    <button>
        <p>Создать заказ</p>
    </button>
    <button>
        <p>Личный кабинет</p>
    </button>
    <button>
        <p>О нас</p>
    </button>
</nav>
    <main>
        <header>
            <h3>Создание заказа</h3>
        </header>
        <section class="information">
            <article>
                <p>Город:</p>
                <input type="text">
            </article>
            <article>
                <p>Тип транспорта:</p>
                <select>
                    <option></option>
                    <option>Автобус</option>
                    <option>Троллейбус</option>
                    <option>Трамвай</option>
                </select>
            </article>
            <article>
                <p>Номер маршрута:</p>
                <input type="text">
            </article>
            <article>
                <p>Стоимость:</p>
                <input type="text">
            </article>
        </section>

        <section class="description">
            <p>Описание:</p>
            <textarea></textarea>
        </section>

        <footer>
            <button>
                <p>Отправить</p>
            </button>
        </footer>

    </main>
</body>
</html>