<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create order</title>
    <link href="../static/css/create%20order/CreateOrder.css" rel="stylesheet">
    <link href="../static/css/navigation/Navigation.css" rel="stylesheet">
    <link href="../static/css/create%20order/DescriptionOrder.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="../static/js/createOrder/CreateOrder.js"></script>
    <script src="../static/js/orders/Orders.js"></script>
</head>
<body>
<nav>
    <button>
        <p>Предложения</p>
    </button>
    <button>
        <p>Карта</p>
    </button>
    <button>
        <p>Создать заказ</p>
    </button>
    <button>
        <p>Личный кабинет</p>
    </button>
    <button>
        <p>О нас</p>
    </button>
</nav>
<main>
    <header>
        <h3>Создание заказа</h3>
    </header>
    <section class="information">
        <article>
            <p>Город:</p>
            <input id="city" type="text">
        </article>
        <article>
            <p>Тип транспорта:</p>
            <select id="type_auto">
                <option></option>
                <option>Автобус</option>
                <option>Троллейбус</option>
                <option>Трамвай</option>
            </select>
        </article>
        <article>
            <p>Номер маршрута:</p>
            <input id="number_route" type="text">
        </article>
        <article>
            <p>Стоимость:</p>
            <input id="price" type="text">
        </article>
    </section>

    <section class="description">
        <p>Описание:</p>
        <textarea id="description"></textarea>
    </section>

    <footer>
        <button onclick="createOrder()">
            <p>Отправить</p>
        </button>
    </footer>

</main>
</body>
</html>