<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link href="/css/navigation/Navigation.css" rel="stylesheet">
    <link href="/css/orders/Search.css" rel="stylesheet">
    <link href="/css/orders/Orders.css" rel="stylesheet">
    <link href="/css/orders/Order.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="/js/orders/Orders.js"></script>
</head>
<body onload="getOrders()">
<nav>
    <button>
        <p>Предложения</p>
    </button>
    <button>
        <p>Карта</p>
    </button>
    <button onclick="location.href='/main/create'">
        <p>Создать заказ</p>
    </button>
    <button>
        <p>Личный кабинет</p>
    </button>
    <button>
        <p>О нас</p>
    </button>
</nav>
<main>
    <section class="search">
        <h2 align="center">Я сидел - меня возили</h2>
        <div class="search_bus">
            <article>
                <input placeholder="Номер автобуса" type="text">
            </article>

            <article>
                <input placeholder="Макс цена" type="text">
            </article>

            <article>
                <input placeholder="Мин цена" type="text">
            </article>

            <article>
                <select>
                    <option>Сортировать по</option>
                    <option>Сначала дешевые</option>
                    <option>Сначала дорогие</option>
                </select>
            </article>
            <article>
                <button>
                    <p>Поиск</p>
                </button>
            </article>
        </div>
    </section>

    <section id="orders">

    </section>
</main>
</body>
</html>