<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/navigation/Navigation.css" rel="stylesheet">
    <link href="../static/css/personal%20area/personal/Personal.css" rel="stylesheet">
</head>
<body>
<nav>
    <button onclick="location.href='/main'">
        <p>Предложения</p>
    </button>
    <button onclick="location.href='/main/map'">
        <p>Карта</p>
    </button>
    <button onclick="location.href='/main/create'">
        <p>Создать заказ</p>
    </button>
    <button onclick="location.href='/main/personal'">
        <p>Личный кабинет</p>
    </button>
    <button onclick="location.href='/main/about'">
        <p>О нас</p>
    </button>
</nav>
<main>
    <header>
        <h3>Мои предложения</h3>
    </header>
    <section id="orders">

    </section>
</main>
</body>
</html>