<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../static/css/navigation/Navigation.css" rel="stylesheet">
    <link href="../static/css/personal%20area/personal/Personal.css" rel="stylesheet">
    <link href="../static/css/orders/Order.css" rel="stylesheet">
    <script src="../static/js/orders/Orders.js"></script>
</head>
<body onload="getPersonalOrders(); getBookedOrders()">
<nav>
    <button onclick="location.href='/main'">
        <p>Предложения</p>
    </button>
    <button onclick="location.href='/main/map'">
        <p>Карта</p>
    </button>
    <button onclick="location.href='/main/create'">
        <p>Создать заказ</p>
    </button>
    <button onclick="location.href='/main/personal'">
        <p>Личный кабинет</p>
    </button>
    <button onclick="location.href='/main/about'">
        <p>О нас</p>
    </button>
</nav>
<main>
    <header>
        <h3>Мои предложения</h3>
    </header>

    <section id="booked_order">
        <h4 align="center">Забронированные заказы</h4>
        <article id="1" class="order">
            <header>
                <div class="information">
                    <div class="route_price">
                        <h4>47 автобус</h4>
                        <h4>20 рублей</h4>
                    </div>
                    <div class="time&car_number">
                        <div class="time">
                            <img src="img/time.png">
                            <p>5 минут назад</p>
                        </div>
                        <div class="car_number">
                            <p>у333ек</p>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <button class="more" onclick="addDescription(1)">
                        <p>Подробнее</p>
                    </button>
                    <button class="bookmark">
                        <p>Забронировать</p>
                    </button>
                </div>
            </header>
        </article>
    </section>

    <section id="personal_order">
        <h4 align="center">Мои заказы</h4>
        <article id="2" class="order">
            <header>
                <div class="information">
                    <div class="route_price">
                        <h4>47 автобус</h4>
                        <h4>20 рублей</h4>
                    </div>
                    <div class="time&car_number">
                        <div class="time">
                            <img src="img/time.png">
                            <p>5 минут назад</p>
                        </div>
                        <div class="car_number">
                            <p>у333ек</p>
                        </div>
                    </div>
                </div>
                <div class="action">
                    <button class="more" onclick="addDescription(1)">
                        <p>Подробнее</p>
                    </button>
                    <button class="bookmark">
                        <p>Забронировать</p>
                    </button>
                </div>
            </header>
        </article>
    </section>
</main>
</body>
</html>