<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/navigation/Navigation.css" rel="stylesheet">
    <link href="/css/personal%20area/personal/Personal.css" rel="stylesheet">
    <link href="/css/orders/Order.css" rel="stylesheet">
    <script src="/js/orders/Orders.js"></script>
</head>
<body onload="getPersonalOrders(); getBookedOrders()">
<nav>
    <button onclick="location.href='/main'">
        <p>Предложения</p>
    </button>
    <button onclick="location.href='/main/map'">
        <p>Карта</p>
    </button>
    <button onclick="location.href='/main/create'">
        <p>Создать заказ</p>
    </button>
    <button onclick="location.href='/main/personal'">
        <p>Личный кабинет</p>
    </button>
    <button onclick="location.href='/main/about'">
        <p>О нас</p>
    </button>
</nav>
<main>
    <header>
        <h3>Мои предложения</h3>
    </header>

    <section id="booked_order">
        <h4 align="center">Забронированные заказы</h4>

    </section>

    <section id="personal_order">
        <h4 align="center">Мои заказы</h4>

    </section>
</main>
</body>
</html>