<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <link href="/css/personal%20area/sign%20in/Sign_in.css" rel="stylesheet">
    <link href="/css/navigation/Navigation.css" rel="stylesheet">
</head>
<body>

<main>
    <header>
        <h3>Вход</h3>
    </header>
    <section>
        <article class="login">
            <p>Логин</p>
            <input type="text">
        </article>
        <article class="password">
            <p>Пароль</p>
            <input type="password">
        </article>
        <article class="action">
            <button class="login" onclick="location.href='/main'">
                <p>Войти</p>
            </button>
            <button class="registration" onclick="location.href='/main'">
                <p>Регистрация</p>
            </button>
        </article>
    </section>
</main>
</body>
</html>